@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#C2FFD9] overflow-y-scroll overflow-x-hidden leading-relaxed;
  }
  .page {
    @apply w-full h-screen;
  }  
}@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#C2FFD9] overflow-y-scroll overflow-x-hidden leading-relaxed;
  }
  .page {
    @apply w-full h-screen;
  }  
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}